@import url('https://fonts.googleapis.com/css?family=Roboto');

/* global grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #30001a; /* deep purple-red */
    color: #ff007d; /* neon pink */
}

h2, .highlight {
    color: #ff00ff; /* neon magenta */
}

a {
    color: #ff007d; /* neon pink */
    text-decoration: none;
}

/* Block Alpha Styles */
.block-alpha {
    padding-top: 40vh;
    text-align: center;
    min-width: 84px; /* Add min-width property and set the desired minimum width */
}

.block-alpha p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.block-alpha h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.block-alpha a {
    font-size: 1.5rem;
    padding: 10px;
}

/* Block Beta Styles */
.block-beta {
    padding-top: 10vh;
    width: 70%;
    display: block; /* Add display property */
    word-wrap: break-word; /* Add word-wrap property */
    white-space: normal; /* Add white-space property */
    text-align: center;
}

.block-beta h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.block-beta p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.block-beta a {
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* Hover Styles */
.block-beta a:hover {
    font-size: 1.3rem;
    color: #ff00ff; /* neon magenta */
    cursor: pointer;
    transition: 0.2s;
}

.block-alpha a:hover {
    color: #ff00ff; /* neon magenta */
    cursor: pointer;
    transition: 0.3s;
}

.neon:hover {
    position: relative;
    padding-left: 10px;
}

/* Responsive Styles */
@media(max-width:775px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .block-alpha {
        padding: 0;
        padding-top: 5rem;
    }

    .block-beta {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
