@import url('https://fonts.googleapis.com/css?family=Roboto');

/* global grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* primary styles */
body {
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #30001a; /* deep purple-red */
    color: #ff007d; /* neon pink */
}

h2, .neon {
    color: #ff00ff; /* neon magenta */
}

a {
    color: #ff007d; /* neon pink */
    text-decoration: underline;
}

/* block alpha */
.section-1 {
    padding-top: 38vh;
    text-align: center;
    background-color: #32001c; /* slightly darker purple-red */
}

.section-1 p {
    font-size: 1.2rem;
    padding-bottom: 12px;
    margin: 2px;
}

.section-1 h2 {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.section-1 a {
    font-size: 1.6rem;
    padding: 12px;
}

/* block beta */
.section-2 {
    padding-top: 12vh;
    width: 68%;
    background-color: #32001c; /* slightly darker purple-red */
}

.section-2 h2 {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.section-2 p {
    font-size: 1.2rem;
    padding-bottom: 12px;
    margin: 2px;
}

.section-2 a {
    display: block;
    padding: 6px;
    font-size: 1.3rem;
    padding-left: 2px;
    width: 102px;
}

/* hovers */
.section-2 a:hover {
    font-size: 1.3rem;
    color: #ff00ff; /* neon magenta */
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #ff00ff; /* neon magenta */
    cursor: pointer;
    transition: 0.3s;
}

.neon:hover {
    position: relative;
    padding-left: 12px;
}


/* settings */
@media(max-width:775px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .section-1 {
        padding: 4px;
        padding-top: 4.8rem;
    }

    .section-2 {
        padding: 4px;
        padding-left: 1.7rem;
        padding-top: 2.2rem;
    }
}
